<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body>
    <h1>Hello,</h1>
    <p>A user has requested following configurations:</p>
    <ul>
      // Loop through the configurations <% for (let i = 0; i <
      configurations.length; i++) { %>
      <li><%= configurations[i] %></li>
      <% } %>
    </ul>
  </body>
</html>
